.post-continer{
  width: 550px;
  height: 170px;
  display: flex;
  justify-content: space-evenly;
}

img{
  height: 150px;
  width: 100px;
  border-radius: 10px;
}

.pagination-container{
  display: flex;
  width: 550px;
  justify-content: space-evenly;
}

.page-btn {
  background-color: black;
  padding: 1rem;
  color: white;
  border-radius: 10px;
}

.active{
  color: black;
  background-color: white;
  border: 1px solid black;
}

.page-btn:hover{
  transform: scale(0.8);
}